.MyCalendar {
  flex: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  overflow: auto;
  position: relative;
}
.CalendarSet {
  // flex: 1;
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: calc(100vh - 200px);
  .Title {
    margin: 15px 0px;
    // margin: 15px 0px;
    font-size: 2rem;
  }
  .calendarContentBox {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    .CalBtnBox {
      div {
        // border: 1px solid black;
        background-color: #f8ecd4;
        padding: 10px 15px;
        margin: 0 0 5px 5px;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          background-color: orange;
        }
      }
      .nowSelected {
        background-color: #ffcb5a;
      }
    }
    .CalendarMonth {
      width: 700px;
      height: 500px;
      //   width: 40%;
      //   height: calc(100vh - 600px);
      // border: 1px solid black;
      margin-right: 20px;
    }
    .CalendarDate {
      width: 600px;
      height: 500px;
      //   width: 40%;
      //   height: calc(100vh - 600px);
      // border: 1px solid black;
      margin-left: 20px;
      overflow-y: scroll;
    }
  }
}
