.Commnunity {
  flex: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  overflow: auto;
  .communityBox {
    padding: 10px;
    width: 1000px;
    padding: 10px 0;
    .boardListBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .noSearchData {
        padding: 50px 0;
      }
      .BoardList {
        &:first-of-type {
          border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
        &:hover {
          background-color: rgb(250, 250, 250);
          transition: 0.3s;
          cursor: pointer;
        }
        display: flex;
        flex-direction: row; /* 웹 버전에서 가로 배치 */
        box-sizing: border-box;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        padding: 5px 10px;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .listContent {
          width: 25%;
        }
        .listContent:not(:first-of-type) {
          text-align: right;
        }
        .userAndTitle {
          margin-right: 200px;
        }
        .userAndTitle,
        .dateAndLikes {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .listContent {
            width: auto; /* 기본 너비 설정 해제 */
          }
        }
        .user,
        .likes {
          display: flex;
          align-items: center;
          justify-content: right;
          .material-icons {
            color: rgb(255, 116, 116);
          }
        }
        .user {
          div {
            margin-right: 5px;
            img {
              width: 10px;
            }
          }
        }
        .dateInfo {
          font-size: 0.8rem;
        }
      }
    }
    .page {
      .pagination {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        div {
          margin-right: 10px;
          color: rgb(150, 150, 150);
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .active {
          color: black;
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
    .boardTop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .addBoardBox {
        .addBoard {
          background-color: rgb(255, 217, 147);
          padding: 5px 10px;
          border-radius: 5px;
          text-decoration: none;
          color: black;
          &:hover {
            cursor: pointer;
            background-color: rgb(255, 193, 77);
            transition: 0.5s;
          }
        }
      }
      .searchBox {
        display: flex;
        align-items: center;
        * {
          margin-right: 5px;
        }
        select {
          padding: 5px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #fff;
          font-size: 16px;
          color: #333;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          &:focus {
            border-color: #007bff;
            outline: none;
          }
        }
        input {
          padding: 5px 10px;
          border-radius: 5px;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
        i {
          &:hover {
            cursor: pointer;
            color: rgb(255, 193, 77);
          }
        }
      }
    }
  }
}

// 반응형
@media (max-width: 768px) {
  .Commnunity {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    height: auto;

    .communityBox {
      width: 100%;
      padding: 0 10px;

      .boardTop {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .addBoardBox,
        .searchBox {
          width: 100%;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }

        .addBoardBox {
          margin-bottom: 20px;
        }

        .searchBox {
          justify-content: space-between;
          select,
          input {
            width: 45%;
          }
          i {
            margin: 0;
          }
        }
      }

      .boardListBox {
        .BoardList {
          flex-direction: column;
          align-items: flex-start;
          // padding: 10px 5px;

          .listContent {
            width: 100%;
            text-align: left;
            margin-bottom: 5px;
          }

          .userAndTitle {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .listContent.title {
              width: 70%;
            }

            .user {
              display: flex;
              align-items: center;
              width: 30%;

              div {
                margin-right: 5px;
                img {
                  width: 15px; /* 뱃지 이미지 크기 조정 */
                }
              }
            }
          }

          .dateAndLikes {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }

      .page {
        display: flex;
        justify-content: center;
        .pagination {
          flex-wrap: wrap;
          div {
            margin: 0 5px;
            padding: 5px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  // 테블릿 세로
  .Commnunity {
    .communityBox {
      width: 768px;
    }
  }
}
