.headerBox {
  display: flex;
  justify-content: space-between;
  background-color: #f1eae0;
  // background-color: #b59c78;
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9;
  .logoBox {
    line-height: 100px;
    width: 30%;
    // border: 1px solid green;
    .logo {
      margin-left: 30px;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      color: black;
    }
  }

  .navBox {
    line-height: 100px;
    width: 70%;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    .userBox {
      display: flex;
      align-items: center;
      .profileImg {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
      .profile {
        // font-weight: 600;
      }
    }

    a,
    div {
      display: inline;
      margin-right: 30px;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .headerBox {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 0;
    height: 100px;
    position: fixed;

    .logoBox {
      width: 100%;
      text-align: center;
      line-height: normal;

      .logo {
        margin-left: 0;
        font-size: 1.2rem;
      }
    }

    .navBox {
      width: 100%;
      justify-content: space-evenly;
      line-height: normal;
      margin-top: 10px;
      gap: 10px;
      .userBox {
        display: flex;
        align-items: center;

        .profileImg {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
        .profile {
          // font-weight: 600;
          display: inline; /* Show the nickname */
          margin-right: 10px; /* Adjust spacing */
        }
      }

      a,
      div {
        // margin-right: 15px;
        margin-right: 0;
        font-size: 0.8rem;
      }
    }
  }

  .IndexPage {
    margin-top: 50px;
    margin-bottom: 50px;
    height: calc(100vh - 100px);

    .indexContentBox {
      min-width: 100%;
      flex-direction: column;
      gap: 20px;
      padding: 10px;
      white-space: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      .box {
        width: 100%;
        height: auto;
        padding: 20px;
        display: inline-block;
        white-space: normal;
        scroll-snap-align: start;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  // 테블릿 세로
  .headerBox {
    .logoBox {
      .logo {
        font-size: 2rem !important;
      }
    }
    .navBox {
      a,
      div {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  // 테블릿 가로
}
